* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 369px;
    border-radius: 41px;
    background: #FFCB13;
    position: relative;
    overflow: hidden;
}

.piz1 {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.piz2 {
    position: absolute;
    right: 0;
    top: 0;
}

.dum .ip {
    position: absolute; 
    left: 30%;
    z-index: 10;
}

.k-dum {
    position: absolute;
    bottom: -20%;
    left: 4%;
    width: 186px;
    height: 186px;
    background: #FFF;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
}

.dum {
    position: absolute;
    bottom: -10rem;
    left: -7rem;
    width: 485px;
    height: 485px;
    border-radius: 485px;
    background: #FFCB13;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.25);
}

.orta  {
    position: absolute;
    top: 1rem;
    left: 30%;
    z-index: 100;
    text-align: center;
}

.orta span {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta h1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta p {
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dale {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    width: 186px;
    height: 186px;
    background: #FFF;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    z-index: 1;
}

.icc {
    position: absolute;
    font-size: 3.5rem;
    right: 40%;
    bottom: 50%;
    z-index: 100;
}

.progg {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 35%;
    flex-wrap: wrap;
}

.progg img{
    padding-left: 10px;
    margin: 5px;
    border-radius: 5px;
}